/* ---------------------------------------------------------------------*/
/* ----- PARAMETRAGE GENERAL -----*/
/* ---------------------------------------------------------------------*/

* {
    margin: 0;      /* pas de marge */
    padding: 0;     /* pas de padding */
    box-sizing: border-box      /* change le comportement du navigateurs pour rapport au calcul de la largeur et la                             hauteur des éléments /// Voir PDF */
}


html {
    background: #fff;                               /* couleur de fond */
    font-family:  'Lato','Arial', sans-serif;       /* police de caractère */
    font-weight : 300;                              /* épaisseur de la police */
    font-size: 20px;                                /* taille de la police */
    color: #555;                                    /* couleur de la police */
    text-rendering: optimizeLegibility;             /*  /// Voir PDF */
}

.row {                      /* structurer la rangé */
    max-width: 1140px;      /* largeur de l'élément */
    margin: 0 auto;         /* centrer l'élément */
}


